#heading {
    transition: .7s ease-in all;
    position: absolute;
    height: 100%; width: 100%;
    background-color: #333333;
}

#heading.loaded { /* build desktop ver */
    position: relative;
    height: 40%; width: 100%;
    min-height: 250px; max-height: 400px;
    background-color: rgba(255, 255, 255, 0);
}

.content {
    transition: .7s ease-in all;
    height: 36px;
    max-width: 450px;
    text-align: center;
    -webkit-animation: show 2s ease-in;
       -moz-animation: show 2s ease-in;
         -o-animation: show 2s ease-in;
            animation: show 2s ease-in;
}

.content.loaded {
    /*position: absolute;*/
    max-width: 100%;
    text-align: center;
    /*bottom: 0;*/
}

.loader {
    display: inline;
    -webkit-animation: tap 4s ease-out 1s infinite;
       -moz-animation: tap 4s ease-out 1s infinite;
         -o-animation: tap 4s ease-out 1s infinite;
            animation: tap 4s ease-out 1s infinite;
}

/* BEGIN clock logo */

#clock {
    width: 8%;
    position: relative;
    top: 0; left: 7px;
    border-radius: 100%;
    border: 3px solid #AAA;
    display: inline-block !important;
}

#clock div {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

#clock::before {
    content: '';
    padding-top: 100%;
    display: block;
}

#tick {
    -webkit-animation: rotate 1.5s linear 0 infinite;
       -moz-animation: rotate 1.5s linear 0 infinite;
         -o-animation: rotate 1.5s linear 0 infinite;
            animation: rotate 1.5s linear 0 infinite;
}

#tick div {
    height: 0;
    width: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

#tip {
    top: 13px !important;
    border-top: 14px solid #AAA;
}

#base {
    top: -5px !important;
    border-bottom: 5px solid #AAA;
}

.logoText {
    /*position: relative;*/
    top: -3px;
    font-weight: 100;
    display: inline-block !important;
}

/* END clock */