/* clockhand location */

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* tap animation */

@keyframes tap {
    0% { opacity: 1; }
    25% { opacity: 0.9; }
    50% { opacity: 0.8; }
    75% { opacity: 0.6; }
    100% { opacity: 0.5; }
}

@-webkit-keyframes tap {
    0% { opacity: 0.3; }
    10% { opacity: 1; }
    100% { opacity: 0.3; }
}