/* fonts */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

html, body, #view{
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
  font-family: 'Josefin Sans', sans-serif;
  color: #AAA;
}

.poseCenter {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* cards' container */
#locations {
  display: block;
  width: 70%;
  margin: 10px auto;
}

.card {
  /*background: #e5e5e5;*/
  position: relative;
  display: inline-block;
  width: 20%;
  border: 1px solid #FFF;
  /*border-radius: 10%;*/
  margin: 1.5%;
  overflow: hidden;
  z-index: 0;
}

.card::before {
  position: relative;
  content: '';
  display: block;
  float: left;
  padding-bottom: 150%;
}

.cardB {
  /*background-size: 50% 50%;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*border-radius: 50%;*/
}

.placeName {
  color: #FFF;
  /*background: #DDD;*/
  text-align: center;
  padding: 10% 1%;
  font-weight: 300;
  /*white-space: nowrap;*/
  z-index: 0;
  height: 30%; 
  width: 98%;
  display: block;
}

.time {
  height: 25%;
  width: 75%;
  font-family: 'Poiret One', cursive;
  /*background: #d5d5d5;*/
  background: rgba(210,210,210, 0.5);
  border-radius: 10em;
  text-align: center;
  padding: 2% 0 3% 0;
  z-index: 10;
  font-size: 1.7vw;
}

.statusLabel {
  /*position: relative;*/
  font-size: 77%;
  line-height: 20px;
  top: -3px;
}